stacks/homekit/lowcode/flows.json
[
    {
        "id": "d598de9d43332d42",
        "type": "tab",
        "label": "Hall Light",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "103942ba930f3621",
        "type": "mqtt-broker",
        "name": "Pablo Home",
        "broker": "noucases.ortizma.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55f73cea99abf963",
        "type": "homekit-standalone",
        "accessoryCategory": "5",
        "bridgeName": "Dimmer",
        "hostType": 1,
        "pinCode": "896-41-441",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "Pablo Ortiz",
        "model": "1.0.0",
        "serialNo": "123456",
        "firmwareRev": "1.0.0",
        "hardwareRev": "1.0.0",
        "softwareRev": "1.0.0",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "ad3f3573d4921ccb",
        "type": "homekit-service",
        "z": "d598de9d43332d42",
        "isParent": true,
        "hostType": "1",
        "bridge": "",
        "accessoryId": "55f73cea99abf963",
        "parentService": "",
        "name": "RoomHallLight",
        "serviceName": "Lightbulb",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.4.3",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.3",
        "hardwareRev": "1.4.3",
        "softwareRev": "1.4.3",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"Brightness\":true}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "c25d7bc8acc8fda8"
            ],
            []
        ]
    },
    {
        "id": "10c7f407fb6f35af",
        "type": "mqtt in",
        "z": "d598de9d43332d42",
        "name": "Get Hall Light Updates",
        "topic": "dimmer-pasillo/light/dimmerized_light/state",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "103942ba930f3621",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "0fd9816a4ed0c787"
            ]
        ]
    },
    {
        "id": "69aafeabf34b0f85",
        "type": "function",
        "z": "d598de9d43332d42",
        "name": "Send hall light to HomeKit",
        "func": "return {\n    ...msg,\n    payload: {\n        Brightness: msg.payload.brightness / 2.55,\n        On: msg.payload.state == 'ON'\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 160,
        "wires": [
            [
                "ad3f3573d4921ccb"
            ]
        ]
    },
    {
        "id": "0fd9816a4ed0c787",
        "type": "change",
        "z": "d598de9d43332d42",
        "name": "Update flow",
        "rules": [
            {
                "t": "set",
                "p": "HallLight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "69aafeabf34b0f85"
            ]
        ]
    },
    {
        "id": "4aab1db627234cad",
        "type": "function",
        "z": "d598de9d43332d42",
        "name": "Calculate updated status",
        "func": "const characteristics = {}\n\nconst combinedCharacteristics = [\n    ...msg.payload.optionalCharacteristics,\n    ...msg.payload.characteristics\n]\nfor (const characteristic of combinedCharacteristics) {\n    characteristics[characteristic.constructorName] = characteristic.value\n}\n\nconst {\n    Brightness,\n    On\n} = characteristics\n\nreturn {\n    ...msg,\n    payload : {\n        ...msg.state,\n        ...Brightness !== undefined ? { brightness: Brightness * 2.55 } : {},\n        ...On !== undefined ? { state: On ? 'ON' : 'OFF' } : {}\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "444c7b75e19cf8b9"
            ]
        ]
    },
    {
        "id": "c25d7bc8acc8fda8",
        "type": "change",
        "z": "d598de9d43332d42",
        "name": "Send flow to msg",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "HallLight",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 60,
        "wires": [
            [
                "fd7002552cf8fbee"
            ]
        ]
    },
    {
        "id": "444c7b75e19cf8b9",
        "type": "mqtt out",
        "z": "d598de9d43332d42",
        "name": "Send Hall Light Command",
        "topic": "dimmer-pasillo/light/dimmerized_light/command",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "103942ba930f3621",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd7002552cf8fbee",
        "type": "homekit-status",
        "z": "d598de9d43332d42",
        "serviceNodeId": "ad3f3573d4921ccb",
        "name": "RoomHallLight Status",
        "outputs": 1,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "4aab1db627234cad"
            ]
        ]
    }
]